Package: com.dgh0st.hideccswitchbackground
Name: HideCCSwitchBackground
Depends: mobilesubstrate
Version: 0.0.6
Architecture: iphoneos-arm
Description: Hide the background of CC switches
Maintainer: DGh0st <deeppwnage@yahoo.com>
Author: DGh0st <deeppwnage@yahoo.com>
Section: Tweaks
